<app-header></app-header>
<div>
    <div class="add-new">
        <h2 class="latest">Latest posts</h2>
        <h2 class="new-post" routerLink="/add-new-post">Add new post</h2>
    </div>
    <mat-card *ngFor="let post of posts">
        <div>
            <mat-card-title routerLink="/admin-post-component" [state]="post">{{post.header}}</mat-card-title>
            <img src={{post.image}}>
            <mat-card-content>
                {{post.content}}
            </mat-card-content>
        </div>
        <div class="mat-icon">
            <mat-icon routerLink="/edit-post" [state]="post">create</mat-icon>
            <mat-icon (click)="deletePost(post)">delete</mat-icon>
        </div>
    </mat-card>
</div>



