mat-card {
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

mat-card-title:hover {
    cursor: pointer;
}

mat-card-content {
    padding-top: 10px;
    font-size: medium;
    font-weight: bold;
}

.mat-icon {
  display: flex;
  align-self: flex-end;
  
 position: relative;
 right: 10px;

}

img {
    object-fit: contain;
    height: 200px;
}

a {
    text-decoration: none;
}

.latest {
    padding-left: 20px;
}

.add-new {
    display: flex;
    justify-content: space-between;
}

.new-post {
    padding-right: 20px;
}

.new-post:hover {
    cursor: pointer;
    color: purple;
}

mat-icon:hover {
    cursor: pointer;
}


