.fluid-container {
    padding: 20px;
}

h2 {
    font-size: 30px;
}

label {
    color: white;
}

.field {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-top: 10px;
}

button {
    margin-top: 5px;
    height: 40px;
}

